
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<ul>
    <li><a href="/Admin/Users">Üye Yönetimi</a></li>
    <li><a href="/Admin/Product">Ürün Yönetimi</a></li>
    <li><a href="/Admin/Categories">Kategori Yönetimi</a></li>
    <li><a href="/Admin/AdminOrders">Sipariş Yönetimi</a></li>

</ul>

