
<!DOCTYPE html>
<html class="loading" lang="tr" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"> @*//ViewPort içeriği hangi genişliğe göre çalışacağı yada nekadar yakınçalışağı bilgilerini içerir*@
    <meta name="description" content="Pazaryerleri ve  E-ticaret Sipariş Takip Sistemi .">
    <meta name="keywords" content="Trendyol Sipariş Takip , N11 Sipariş Takip , E-Ticaret Sipariş Takip , Sipariş Takip Paneli">
    <meta name="author" content="Yavuz Selim AYDIN">

    <link rel="apple-touch-icon" href="~/Assets/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->

    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/app-assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/assets/css/style.css">
    <!-- END Custom CSS-->
    <title>
        E-Ticaret || @ViewBag.Title
    </title>
</head>
<body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="/Admin/Default/Index">
                            <img class="brand-logo" alt="modern admin logo" src="~/Assets/app-assets/images/logo/logo.png">
                            <h3 class="brand-text">E-Ticaret Admin</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="dropdown nav-item mega-dropdown">
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-language nav-item">
                            <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-tr"></i><span class="selected-language"></span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-tr"></i> Turkey</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> English</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a>
                            </div>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="mr-1">
                                    Merhaba,
                                    <span class="user-name text-bold-700">
                                        @{ var user = Session["AdminLoginUser"] as And.Eticaret.Core.Model.Entity.User;

                                            if (user != null)
                                            {
                                                @user.Name @user.SurName
                                            }
                                        }
                                    </span>
                                </span>
                                <span class="avatar avatar-online">
                                    <img src="~/Assets/app-assets/images/portrait/small/avatar-s-19.png" alt="avatar"><i></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="ft-user"></i> Edit Profile</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="/Admin/Default/Index"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">Anasayfa</span></a>
                </li>
                <li class=" nav-item">
                    <a href="index.html"><i class="la la-shopping-cart"></i><span class="menu-title" data-i18n="nav.dash.main">Sipariş İşlemleri</span></a>
                    <ul class="menu-content">
                        <li><a href="/Admin/AdminOrders/Index"><i class="la la-list"></i><span class="menu-title" data-i18n="nav.dash.main">Sipariş Listesi</span></a></li>
                        <li><a href="/Admin/AdminOrders/Create"><i class="la la-plus-square"></i><span class="menu-title" data-i18n="nav.dash.main">Sipariş Ekle</span></a></li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="index.html"><i class="la la-comment"></i><span class="menu-title" data-i18n="nav.dash.main">Kategori İşlemleri</span></a>
                    <ul class="menu-content">
                        <li><a href="/Admin/Categories/Index"><i class="la la-list"></i><span class="menu-title" data-i18n="nav.dash.main">Kategori Listesi</span></a></li>
                        <li><a href="/Admin/Categories/Create"><i class="la la-plus-square"></i><span class="menu-title" data-i18n="nav.dash.main">Kategori Ekle</span></a></li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="la la-object-ungroup"></i><span class="menu-title" data-i18n="nav.dash.main">Ürün İşlemleri</span></a>
                    <ul class="menu-content">
                        <li><a href="/Admin/Product/Index"><i class="la la-list"></i><span class="menu-title" data-i18n="nav.dash.main">Ürün Listesi</span></a></li>
                        <li><a href="/Admin/Product/Create"><i class="la la-plus-square"></i><span class="menu-title" data-i18n="nav.dash.main">Ürün Ekle</span></a></li>
                    </ul>
                </li>
                <li class=" nav-item">
                    <a href="index.html"><i class="la la-users"></i><span class="menu-title" data-i18n="nav.dash.main">Kullanıcı İşlemleri</span></a>
                    <ul class="menu-content">
                        <li><a href="/Admin/Users/Index"><i class="la la-list"></i><span class="menu-title" data-i18n="nav.dash.main">Kullanıcı Listesi</span></a></li>
                        <li><a href="/Admin/Users/Create"><i class="la la-plus-square"></i><span class="menu-title" data-i18n="nav.dash.main">Kullanıcı Ekle</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
             @RenderBody()
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2018 <a class="text-bold-800 grey darken-2" href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent"
                                         target="_blank">PIXINVENT </a>, All rights reserved.
            </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>
        </p>
    </footer>
    <!-- BEGIN VENDOR JS-->
    <script src="~/Assets/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/Assets/app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
    <script src="~/Assets/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
    <script src="~/Assets/app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script>
    <script src="~/Assets/app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js"
            type="text/javascript"></script>
    <script src="~/Assets/app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js"
            type="text/javascript"></script>
    <script src="~/Assets/app-assets/data/jvector/visitor-data.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <script src="~/Assets/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Assets/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/Assets/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Assets/app-assets/js/scripts/pages/dashboard-sales.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
</body>

</html>